<div class="logo">
    <a href="#All Food">All Food</a>
    <a href="#Vegan">Vegan</a>
    <a href="#Vegeterians">Vegeterians</a>
</div>
<div class="content">
  <div class="container">
    <img src="http://willowbirdbaking.com/photos/bakedsweetpot/IMG_8307-1.jpg" alt="" class="image">
    <div class="overlay">
      <h1 (click)="firstRecipe()">Read Recipe &nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></h1>
    </div>
  </div>
  <div class="container">
    <img src="https://cdn77-s3.lazycatkitchen.com/wp-content/uploads/2016/03/moroccan-bowl-and-quick-preserved-lemons-800x1200.jpg" alt="" class="image">
    <div class="overlay">
      <h1 (click)="secondRecipe()">Read Recipe &nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></h1>
    </div>
  </div>
  <div class="container">
    <img src="http://potluck.ohmyveggies.com/wp-content/uploads/2014/05/sugar-snap-pea-and-carrot-soba-noodles.jpg" alt="" class="image">
    <div class="overlay">
      <h1 (click)="thirdRecipe()">Read Recipe &nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></h1>
    </div>
  </div>
</div>

<div class="recipe-content">
    <div class="first-recipe">
      <span (click)="closeRecipe()">&#x2716;</span>
      <h1>Grilled Brown Sugar Pork Chops</h1>
   
      
    </div>
    <div class="second-recipe">
      <span (click)="closeRecipe()">&#x2716;</span>
      <h1>Second Recipe</h1>
    </div>
    <div class="third-recipe">
      <span (click)="closeRecipe()">&#x2716;</span>
      <h1>Third Recipe</h1>
    </div>
  </div>

<div class="buttons">
    <button ><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>&nbsp;
    <button >Next &nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
</div>