<div class="logo">
    <a href="#Vegan">Vegan</a>  
    <a href="#All Food">All Food</a>
    <a href="#Vegeterians">Vegeterians</a>
</div>
  <div class="content">
    <div class="container">
      <img src="https://i.imgur.com/ZMKiMSG.png" alt="" title="Grilled Brown Sugar Pork Chops" class="image">
      <div class="overlay">
        <h1 (click)="firstRecipe()" >Read Recipe &nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></h1>
      </div>
    </div>
    <div class="container">
      <img src="https://pp.userapi.com/c630821/v630821249/1838a/eus-8DK9Yok.jpg" alt="" class="image">
      <div class="overlay">
        <h1 (click)="secondRecipe()">Read Recipe &nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></h1>
      </div>
    </div>
    <div class="container">
      <img src="https://pp.userapi.com/c543106/v543106868/2b5ce/yWkgBkh6WRo.jpg" alt="" class="image">
      <div class="overlay">
        <h1 (click)="thirdRecipe()">Read Recipe &nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></h1>
      </div>
    </div>

  </div>


  <div class="recipe-content">
      <div class="first-recipe">
        <span (click)="closeRecipe()">&#x2716;</span>
        <h1>Grilled Brown Sugar Pork Chops</h1>
        <h2>Ingredients</h2>
          <ul>
            <li>1/2 cup brown sugar, firmly packed</li>
            <li>1/2 cup apple juice</li>
            <li>￼4 tablespoons vegetable oil</li>
            <li>1 tablespoon soy sauce</li>
            <li>1/2 teaspoon ground ginger</li>
            <li>salt and pepper to taste</li>
            <li>2 teaspoons cornstarch</li>
            <li>1/2 cup water</li>
            <li>6 boneless pork chops</li>
          </ul>
        <div class="directions">
            <h2 >Directions</h2>
              <ul>
                <li>Preheat an outdoor grill for high heat.</li>
                <li>In a small saucepan, combine brown sugar, apple juice, oil, soy sauce, ginger, salt , and pepper. 
                    Bring to boil. Combine water and cornstarch in small bowl, and whisk into brown sugar mixture. Stir until thick.</li>
                <li>Brush grate lightly with oil before placing pork chops on the grill. Cook over hot coals for 10 to 12 minutes, turning once.
                    Brush with sauce just before removing chops from grill. Serve with remaining sauce.</li>
              </ul>
        </div>
        
      </div>
      <div class="second-recipe">
        <span (click)="closeRecipe()">&#x2716;</span>
        <h1>Second Recipe</h1>
      </div>
      <div class="third-recipe">
        <span (click)="closeRecipe()">&#x2716;</span>
        <h1>Third Recipe</h1>
      </div>
    </div>
    
  <div class="buttons">
      <button ><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>&nbsp;
      <button >Next &nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
  </div>