<div id="fridge">
    <span (click)="closeFridge()" >&#x2716;</span>
    <span>Select Ingredients</span>

    <nav>
        <ol>
            <li (click)="setIngredientWiew('fruit')" >Fruit</li> 
            <li (click)="setIngredientWiew('vegetable')">Vegetable</li> 
            <li (click)="setIngredientWiew('meat')" >Meat</li> 
            <li (click)="setIngredientWiew('fish')" >Fish</li> 
        </ol>
    </nav>
    <div [ngSwitch]="currentIngredientWiew" >
        <div  *ngSwitchCase="'fruit'" class="fruits" >
            <ul *ngFor="let fruit of fruits">        
                <li>
                    {{fruit}} <input type="checkbox" value="None" name="check" id="fruit"> 
                </li>
            </ul>
        </div>
        <div  *ngSwitchCase="'vegetable'" class="vegetables">
            <ul *ngFor="let vegetable of vegetables">
                <li>
                    {{vegetable}} <input type="checkbox" value="None" name="check">
                </li>
            </ul>
        </div>
        <div *ngSwitchCase="'meat'" class="meats">
            <ul *ngFor="let meat of meates">
                <li>
                    {{meat}} <input type="checkbox" value="None" name="check">
                </li>
            </ul>
        </div>
        <div *ngSwitchCase="'fish'" class="fishes">
            <ul *ngFor="let fish of fishes">
                <li>
                    {{fish}} <input type="checkbox" value="None" name="check">
                </li>
            </ul>
        </div> 
    </div>
</div>
<div class="main-content">
    <div class="links">
        <a href="#All Food">All Food</a>
        <a href="#Vegan">Vegan</a>
        <a href="#Vegeterians">Vegeterians</a>
    </div>
    <div class="content">
        <div class="info">
            <p>
                If you have ingredients and you do not know what to cook, 
                click here and select the ingredients,
                that you own and see what you can do with these ingredients.
            </p>
        </div>
        <div class="fridge">
            <h1 (click)="openFridge()">open fridge</h1>
        </div>    
    </div>
</div>
  









    <!-- <nav>
        <ol>
            <li (click)="openFruit()" class="first" (click)="changeFruitColor()">Fruit</li>
            <li (click)="openVegetable()" class="second" (click)="changeVegetableColor()">Vegetable</li>
            <li (click)="openMeat()" class="third" (click)="changeMeatColor()">Meat</li>
            <li (click)="openFish()" class="forth" (click)="changeFishColor()">Fish</li>
            <li (click)="openCake()" class="fifth" (click)="changeCakeColor()">Cake</li>
        </ol>
    </nav>
    <div class="fruit">

        <ul *ngFor="let fruit of fruits">
            <li>
            {{fruit}} <input type="checkbox" value="None" name="check">
            </li>
        </ul>

    </div>
    <div class="vegetable">
        <ul *ngFor="let vegetable of vegetables">
            <li>
                {{vegetable}} <input type="checkbox" value="None" name="check">
            </li>
        </ul>
    </div>
    <div class="meat">
        <ul *ngFor="let meat of meates">
            <li>
                {{meat}} <input type="checkbox" value="None" name="check">
            </li>
        </ul>
    </div>
    <div class="fish">
        <ul *ngFor="let fish of fishes">
            <li>
                {{fish}} <input type="checkbox" value="None" name="check">
            </li>
        </ul>
    </div>
    <div class="cake">
        <ul *ngFor="let cake of cakes">
            <li>
                {{cake}} <input type="checkbox" value="None" name="check">
            </li>
        </ul>
    </div> -->