@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Bubbler+One');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-content {
    margin-top: 150px;
}
.main-content .links {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main-content .links a  {
    font-family: 'Dosis', sans-serif;
    color: white;
    text-decoration: none;
    text-align: center;
    border :1px solid white;
    padding: 8px  15px 8px 15px;;
    margin: 5px;
    border-radius: 15px;
    font-size: 25px;
    font-weight: 100;
}
.main-content .links a:hover {
    color: #F9C405;
    border-color: #F9C405;
    border-radius: 20px;
}

.content {
    display: flex;
    justify-content: center;

}
.content .info, .fridge {
    display: flex;
    justify-content: center;
    width: 30%;
    float: left;
    
}
.content .fridge {
    width: 15%;
    margin-left: 25px;
}
.content .info p {
    
    color: white;
	font-size: 28px;
    font-family: 'Dosis', sans-serif;
    padding-top: 25px;
    
}

.content .fridge h1 {
    
    font-size: 80px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
    color: transparent;
    background-image: linear-gradient(to right, #fff, rgba(86,86,86,0.1));
	-webkit-background-clip: text;
	animation: animate 1s linear infinite;
    background-size: 1000%;
    text-align: center;
    cursor: pointer;
}

@keyframes animate{
	0%{
		background-position: 0% 100% ; 
	}
	50%{
		background-position: 100% 0%; 
	}
	100%{
		background-position: 0%; 
	}
}


#fridge {
    height: 100vh;
    display: none; /*dddddddddisplay*/
    background-image: url("https://i.imgur.com/X9aYAv6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#fridge span:nth-child(1){
    color: white;
    font-size: 30px;
    float: right;
    margin-top:10px;
    margin-right:20px;
    cursor: pointer;
}
#fridge span:nth-child(2) {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    font-family: "Raleway";
}
#fridge nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fridge nav ol li{
    font-family: 'Bubbler One', sans-serif;
    color: white;
    list-style-type: none;
    float: left;
    text-align: center;
    margin:15px;
    font-size: 40px;
    cursor: pointer;
}

#fridge  .fruits li, .vegetables li , .meats li , .fishes li {
    list-style-type: none;
    float: left;
    /* margin:10px;*/
    padding: 20px; 
    color: white;
    font-size: 30px;
    font-family: 'Bubbler One', sans-serif;
   

}


#fridge input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

@media only screen and (max-width: 480px) {
    .main-content {
        margin-top: 100px;
    }
    .main-content .links a {
        font-size: 25px;
    }
	.content {
        flex-direction: column;
        align-items: center;
    }
    .content .info p{
        width: 100%;
    }
    
}
    

/* @media all and (max-width:768px){
    .main-content {
        margin-top: 50px;
    }
    .main-content .links a {
        font-size: 35px;
        margin: 15px;
    }
    .content {
        margin-top: 80px;
        margin: 50px;
    }
	.content .info, .fridge {
        margin-right: 60px;
        width: 100%;
    }
    .content .info p{
        font-size: 40px;
    }
    .content .fridge{
        align-items: center;
    }

} */


@media all and (max-width:1200px){
    .content .info, .fridge {
        margin-right: 60px;
        width: 50%;
    }
    
}




