<div id="fullpage">
  <div class="section" ><app-home></app-home></div>
  <div class="section" ><app-all-food></app-all-food></div>
  <div class="section" ><app-vegan></app-vegan></div>
  <div class="section" ><app-vegeterian></app-vegeterian></div>
</div>

