* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}

.section{
    height: 100%;
    
}
 .section:nth-child(1) {
	background-image:url("https://i.imgur.com/n7fDTW1.jpg"); 

	min-height: 100%;
    background-position:top center;
    background-size: cover;
}
.section:nth-child(2) {
	background-image: url("https://i.imgur.com/X9aYAv6.jpg");
	min-height: 100%;
    background-position:center;
    background-size: cover;
} 

.section:nth-child(3) {
	background-image: url("https://i.imgur.com/X9aYAv6.jpg");
	min-height: 100%;
    background-position:center;
    background-size: cover;
}

.section:nth-child(4) {
	background-image: url("https://i.imgur.com/X9aYAv6.jpg");
	min-height: 100%;
    background-position:center;
    background-size: cover
}



@media all and (max-width:768px){
	.section:nth-child(1) {
		background-image:url("https://i.imgur.com/TmcRQfG.jpg");
		min-height: 100%;
		background-size: cover;
	}
}
/* @media all and (max-width:320px){
	.section:nth-child(1) {
		background-image:url("https://i.imgur.com/TmcRQfG.jpg");
		min-height: 100%;
		background-size:300%;
	}
} */


