<div class="logo">
    <a href="#Vegan">Vegan</a>  
    <a href="#Vegeterians">Vegeterians</a>
    <a href="#All Food">All Food</a>
</div>
  <div class="content">
    <div class="container">
      <img src="http://ghk.h-cdn.co/assets/16/37/1600x2400/gallery-1473707479-ghk090116yk-bbq-chickpea-cauliflower-flatbreads.jpg" alt="" class="image">
      <div class="overlay">
        <h1 (click)="firstRecipe()" >Read Recipe &nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></h1>
      </div>
    </div>
    <div class="container">
      <img src="http://ghk.h-cdn.co/assets/17/01/480x720/gallery-1483547957-ghk010117ykpeanuttyedamameandnoodlesalad.jpg" alt="" class="image">
      <div class="overlay">
        <h1 (click)="secondRecipe()">Read Recipe &nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></h1>
      </div>
    </div>
    <div class="container">
      <img src="http://ghk.h-cdn.co/assets/16/35/480x720/gallery-1472483520-springtacos.jpg" alt="" class="image">
      <div class="overlay">
        <h1 (click)="thirdRecipe()" >Read Recipe &nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></h1>
      </div>
    </div>
  
    
    
  </div>



<div class="recipe-content">
  <div class="first-recipe">
    <span (click)="closeRecipe()">&#x2716;</span>
    <h1>First Recipe</h1>
  </div>
  <div class="second-recipe">
    <span (click)="closeRecipe()">&#x2716;</span>
    <h1>Second Recipe</h1>
  </div>
  <div class="third-recipe">
    <span (click)="closeRecipe()">&#x2716;</span>
    <h1>Third Recipe</h1>
  </div>
</div>


  
<div class="buttons">
    <button ><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>&nbsp;
    <button >Next &nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
</div>