@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Cookie');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
   
}
.logo {
    display: flex;
    -webkit-justify-content: center; 
    justify-content: center;
    align-items: center;
}
.logo a{
    font-size: 30px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Raleway";
    margin: 15px;
   
    
}
.logo a:nth-child(2){
    font-size: 80px;
}
.logo a:nth-child(1):hover {
    color: #F9C405;
}
.logo a:nth-child(3):hover {
   color:  #F9C405;
}
.content {
   
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 22%;
    float: left;
    margin: 50px;
  }
  
.image {
    display: block;
    width: 100%;
    height: 480px;
    max-width: 100%;
}
  
.container:hover .image {
    opacity: 0.3;
    transition: .5s ease;
  }
.overlay {
  
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
   
}
  
.container:hover .overlay {

    height: 80px;
    
}
  

.overlay h1 {
    float: right;
    color: black;
    font-family: 'Dosis', sans-serif;
    transform: translate(-20%, 40%);
    -ms-transform: translate(-20%, 40%);
    overflow: hidden;
    white-space: nowrap; 
    cursor :pointer;
}
.buttons {
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons button{
    font-size: 30px;
    color: white;
    background:none;
    border: none;
    cursor: pointer;
   outline: none;
}

.buttons button:nth-child(1){
    display: none;
}

.recipe-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.first-recipe, .second-recipe , .third-recipe{
    width: 80%;
    height: 650px;
    background: white;
    display: none;
    
}
.recipe-content span {
    font-size: 30px;
    float: right;
    margin-top:10px;
    margin-right:20px;
    cursor: pointer;
}
